/* Pour augmenter la taille de la police et mettre en gras */
.custom-header {
    font-size: 2em;
    font-weight: bold;
}

.custom-subheader {
    font-size: 1.5em;
    font-weight: bold;
}

/* Pour aligner verticalement le texte avec le panneau latéral */
.custom-header,
.custom-subheader {
    margin-top: 0; /* Ajuste cette valeur pour l'alignement désiré */
    position: relative;
    top: -10px; /* Ajuste cette valeur pour aligner le texte */
}
